@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* New */
html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}

.topnavbar {
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #444;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.topnav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.logo-container {
    width: fit-content;
    padding: 0 10px;
    border-right: 1px solid #111;
}

.home-link {
    text-decoration: none;
    color: orangered;
    line-height: 70px;
    font-size: 1.8rem;
}

.topdropdown-menu {
    position: absolute;
    top: 70px;
    background-color: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 0;
    width: 100%;
    -webkit-transition: max-height, 0.8s ease-in;
    transition: max-height, 0.8s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.dropdown-btn {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .dropdown-btn:hover {
        color: #fff;
        background-color: #bd0400;
        -webkit-transition: color, backgrouns-color, 0.2s;
        transition: color, backgrouns-color, 0.2s;
    }

    .dropdown-btn:focus {
        outline: 0;
    }

    .dropdown-btn:hover .topdropdown-menu {
        max-height: 300px;
        
    }

.display-menu {
    max-height: 300px;
}

.menu-link {
     
    text-align: match-parent;
    color: #444;
    text-decoration: none;
    font-size: 1.4rem;
    width: 100%;
    padding: 5px;
}

    .menu-link:hover {
        color: orangered;
        background-color: #444;
        -webkit-transition: color, background-color, 0.2s;
        transition: color, background-color, 0.2s;
    }

    .menu-link:focus {
        outline: 0;
    }

.cover {
    height: 700px;
    background-color: #c5c5c5;
}
.cover-modified{
    height: 0;
}

.title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 200px;
}

.page-header {
    text-align: center;
    font-size: 3.8rem;
    margin: 0;
    letter-spacing: 1px;
}

.title-container p {
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    padding: 20px;
}
.table-active {
    display: normal;
}
.table-inactive {
    display: none;
}