@using System.Text;
@using Newtonsoft.Json;
@using LotterySharperBlazorServer.Shared.Models;
@using LotterySharperBlazorServer.Shared;
@using LotterySharperBlazorServer.Pages;

@inherits LayoutComponentBase

<div>
    <TopNavBar OnClick649="@FullLotteryClickHandler"
               OnClick649Singles="@LotterySinglesClickHandler"></TopNavBar>
</div>

<div>
    <SinglesTable _lottoSingles="_lottoSingles"/>
</div>
<div>
    <Lotto649Table _lotto="_lotto"  />
</div>

@code {
    //TODO: Set up dropdown for displaying a select number of results per page. Set up pages for table!
    bool hidden = false;
    

    Lotto649ResultsModel _lotto;
    List<LottoSinglesCount> _lottoSingles;

    /// <summary>
    /// Click handler to convert json string to object for table.
    /// </summary>
    /// <param name="lottoJsonString">Retrieved via API call in TopNavBar OnClick methods.</param>
    public void FullLotteryClickHandler(String lottoJsonString)
    {
        _lotto = JsonConvert.DeserializeObject<Lotto649ResultsModel>(lottoJsonString);
        

    }
    public void LotterySinglesClickHandler(String singlesJsonString)
    {
        _lottoSingles = JsonConvert.DeserializeObject<List<LottoSinglesCount>>(singlesJsonString);
        _lotto = null;




    }




}
