@using System.Text;
@using Newtonsoft.Json;
@using LotterySharperBlazorServer.Shared.Models;
@using LotterySharperBlazorServer.Shared;
@using LotterySharperBlazorServer.Pages;

@inherits LayoutComponentBase

<div>
    <TopNavBar OnClick649="@FullLotteryClickHandler"
               OnClick649Singles="@LotterySinglesClickHandler"></TopNavBar>
</div>

<div>
    <Lotto649Table _lotto="_lotto" />
</div>

@if (_lottoSingles == null)
{
    <p><em>Why 649 Singles null?</em></p>
}
else
{
    <table class="table">

        <tr>

            <th scope="col" style="text-align:center">Number</th>
            <th scope="col" style="text-align:center">Frequency</th>
        </tr>


        <tbody>
            @foreach (var itm in _lottoSingles)
            {
                <tr>
                    <td align="center">@itm.First</td>
                    <td align="center">@itm.Frequency</td>

                </tr>
            }
        </tbody>
    </table>
}


    @code {
        //TODO: Set up dropdown for displaying a select number of results per page. Set up pages for table!

        Lotto _lotto;
        List<LottoSinglesCount> _lottoSingles;

        public void FullLotteryClickHandler(String lottoJsonString)
        {
            _lotto = JsonConvert.DeserializeObject<Lotto>(lottoJsonString);
        }
        public void LotterySinglesClickHandler(String singlesJsonString)
        {
            _lottoSingles = JsonConvert.DeserializeObject<List<LottoSinglesCount>>(singlesJsonString);
        }

    }
