@using System.Text;
@using Newtonsoft.Json;
@using LotterySharperBlazorServer.Shared.Models;

@inherits LayoutComponentBase

<div>
    <TopNavBar OnClick649="@ClickHandler"></TopNavBar>
</div>

<p>Table?</p>
@if (_lotto == null)
{
    <p><em>Why null?</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Winning Numbers</th>
                <th>Bonus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itm in _lotto.Lotto649)
            {
                <tr>
                    <td>@itm.Date</td>
                    <td>@FormatNumbers(itm)</td>
                    <td>@itm.Bonus</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    Lotto _lotto;

    public void ClickHandler(String lottoJsonString)
    {
        _lotto = JsonConvert.DeserializeObject<Lotto>(lottoJsonString);
    }
    private string FormatNumbers(LottoData itm)
    {
        var sb = new StringBuilder();
        foreach (var i in itm.Numbers)
        {
            sb.Append($"{i} ");
        }
        return sb.ToString();
    }

}
