@using System.Text;
@using Newtonsoft.Json;
@using LotterySharperBlazorServer.Shared.Models;
@using LotterySharperBlazorServer.Shared;

@inherits LayoutComponentBase

<div>
    <TopNavBar OnClick649="@ClickHandler"></TopNavBar>
</div>

<p>Table?</p>
@if (_lotto == null)
{
    <p><em>Why null?</em></p>
}
else
{
    <table class="table">

        <tr>
            <th scope="col" style="text-align:center">Date</th>
            <th scope="col" colspan="6" style="text-align:center">Winning Numbers</th>
            <th scope="col" style="text-align:center">Bonus</th>
        </tr>
        <tr>
            <th scope="row">&nbsp;</th>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tbody>
            @foreach (var itm in _lotto.Lotto649)
            {
                <tr>
                    <td align="center">@itm.Date</td>

                    @for (var i = 0; i < itm.Numbers.Count(); i++)
                    {
                        <td align="center">@itm.Numbers[i]</td>
                    }
                    <td align="center">@itm.Bonus</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    //TODO: Set up dropdown for displaying a select number of results per page. Set up pages for table!
    Lotto _lotto;

    public void ClickHandler(String lottoJsonString)
    {
        _lotto = JsonConvert.DeserializeObject<Lotto>(lottoJsonString);
    }

}
