@using Newtonsoft.Json;
@using LotterySharperBlazorServer.Shared.Models;
@using System.Linq;
@using System.Text;
@using System.Data;

@using BlazorTable

@if (_lotto is null)
{

}
else
{
    <header style="font-size:40px">
        Lotto 649 Results
        <hr />
    </header>

    <Table TableItem="LotteryDataModel" Items="_lotto.Lotto649" PageSize="10">
        <Column TableItem="LotteryDataModel" Title="Date" Field="@(x => x.Date)" Sortable="true" Filterable="true" Width="33%" />
        <Column TableItem="LotteryDataModel" Title="Numbers" Field="@(x => x.NumbersString)" Sortable="true" Filterable="true" Width="33%" Align="Align.Justify" />
        <Column TableItem="LotteryDataModel" Title="Bonus" Field="@(x => x.Bonus)" Sortable="true" Filterable="true" Width="33%" Align="Align.Center" />

        <Pager TableItem="LotteryDataModel" ShowPageNumber="true" ShowTotalCount="true" />
    </Table>

}

@code{

    [Parameter]
    public Lotto649ResultsModel _lotto { get; set; }

}
